<h1>
    <%= @article.title %>
</h1>

<p1>
    <%= @article.text %>
</p1>

<h2>Comments</h2>
<%= render @article.comments %>

<h2>Add a comment</h2>
<%= render 'comments/form' %>


<p1>
    <%= link_to 'Edit', edit_article_path(@article) %> |
    <%= link_to 'Back', articles_path %>
</p1>